@import "~@blueprintjs/core/lib/scss/variables.scss";

.playlist-track {
	padding-top: 20px;

	.header-item {
		height: auto;
		display: grid;
		grid-template-columns: 50px 50px auto 80px 80px 80px 50px;
		grid-template-rows: auto;
		align-items: stretch;
		align-content: stretch;
		background-color: $light-gray5;
		border-radius: 3px;
		border-width: 1px;
		border-style: solid;
		border-color: $light-gray1;
		margin-bottom: 5px;
		margin-left: 20px;
		margin-right: 20px;
		color: $gray1;
		transition: background-color 0.5s, color 0.5s;

		> * {
			border-right: inherit;
			padding: 8px 5px;
			font-size: 10px;
			color: $gray2;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			justify-content: center;

			&:last-child {
				border-right: none;
			}
		}
	}
}
